MONGO_URI="mongodb://localhost:27017"
RINHA_TOKEN="123"
PAYMENT_PROCESSOR_URL_FALLBACK="http://localhost:8002"
PAYMENT_PROCESSOR_URL_DEFAULT="http://localhost:8001"
REDIS_HOST="redis"
RUNHEALTHCHECK="false"
